/************************ TOP CONTACT ******************************/

.topNav {
  position: relative;
  max-height: 80px;
  /*border-bottom: 1px solid #eee;*/
  -webkit-transition: max-height 0.3s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: max-height 0.3s ease-in-out, box-shadow 0.1s linear;
  -o-transition: max-height 0.3s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: max-height 0.3s ease-in-out, box-shadow 0.1s linear;
  transition: max-height 0.3s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  background-color: none;
}
.topNav.invisible{
  height:0;
  max-height: 0;
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
.topNav>ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

.topNav>ul>li {
  display: inline-block;
  font-size: .85em;
  color: #5e5e5e;

}

.topNav>ul>li:not(:last-child) {
  margin-right: 15px;
}

/**************************************** Respo Menu *********************************************************/

.navigation>.logoHolder>.menuBar:after {
  position: absolute;
  content: '';
  background-color: darkslateblue;
  background: -webkit-gradient(linear, right top, left top, from(darkslateblue), to(dodgerblue));
  background: linear-gradient(to left, darkslateblue, dodgerblue);
  width: 70%;
  height: 4px;
  bottom: 8px;
  left: 0;
}

.remove_floater {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  padding: 5px;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  color: #c0a16b;
  text-align: right;
}

.respoBodyholder {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: ease-in all .5s;
  transition: ease-in all .5s;
}

.respoBodyholder.show {
  visibility: visible;
  opacity: .8;
  -webkit-transition: ease-in all .5s;
  transition: ease-in all .5s;
}

.respoBodyholder.show:hover {
  cursor: crosshair;
}

.floated_Nav_links {
  background-color:#222222;
  z-index: 120;
  position: fixed;
  width: 400px;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
  -webkit-box-shadow: 0 0 3px #333;
  -webkit-box-sizing: border-box;
  padding: 0 14px;
  overflow: auto;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.floated_Nav_links::-webkit-scrollbar {
  width: 8px;
}

.floated_Nav_links::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.floated_Nav_links::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.floated_Nav_links>ul {
  margin: 0 auto;
  padding: 15px;
  list-style: none;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.floated_Nav_links>ul>li {
  margin-left: 0;
  text-align: left;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

#extlinks>li {
  margin: 10px auto;
}

#extlinks>li>a:visited, #extlinks>li>a {
  color: #ccc;
}

#extlinks>li>a:active, #extlinks>li>a:focus, #extlinks>li>a:hover {
  color: #fff;
}

.floated_Nav_links>ul>li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.floated_Nav_links>ul>li>a {
  display: block;
  padding: 20px 5px;
  text-transform: uppercase;
  font-size: 1em;
  color: #eee;
  background-color: transparent;
  text-decoration: none!important;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.float_menu {
  left: 0;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.floated_Nav_links>ul>li>a:hover {
  color: #c0a16b;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

/************************** MAIN NAVIGATOR *************************************/

.navigation {
  width: 100%;
  position: relative;
  z-index: 100;
  padding: 30px 15px;
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2);
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .2);
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
  line-height: 2.3;
}

.navigation>.logoHolder>.menuBar {
  width: 25px;
  height: 20px;
  background-color: transparent;
  margin: 10px auto;
  display: inline-block;
  float: left;
  position: relative;
  overflow: hidden;
}

.navigation>.logoHolder>.menuBar:before {
  position: absolute;
  content: '';
  background-color: darkslateblue;
  background: -webkit-gradient(linear, right top, left top, from(darkslateblue), to(dodgerblue));
  background: linear-gradient(to left, darkslateblue, dodgerblue);
  width: 50%;
  height: 4px;
  top: 0;
  left: 0;
}

.navigation>.logoHolder>.menuBar:hover:before, .navigation>.logoHolder>.menuBar:hover:after {
  width: 100%;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.navigation>.logoHolder>.menuBar>span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: darkslateblue;
  background: -webkit-gradient(linear, right top, left top, from(darkslateblue), to(dodgerblue));
  background: linear-gradient(to left, darkslateblue, dodgerblue);
  display: inline-block;
  bottom: 0;
  left: 0;
}

.navigation>.logoHolder {
  display: inline-block;
}

.navigation>.logoHolder>img {
  width: 120px;
  max-width: 120px;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

@media (max-width:767px) {
  .navigation>.logoHolder {
    width: 100%;
    text-align: center;
  }
}

.navigation>.navigationHold {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.navigationHold>li {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}

.navigationHold>li.productList {
  position: relative;
}

.navigationHold>li.productList>ul {
  position: absolute;
  list-style: none;
  padding: 5px 15px;
  background-color: #222222;
  left: 0;
  top: 200%;
  visibility: hidden;
}

.navigationHold>li.productList>ul:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #222222;
  top: 0;
  left: 45%;
  -webkit-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
}

.navigationHold>li.productList>ul:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: transparent;
  top: -4px;
  left: 0;
}

.navigationHold>li.productList>ul>li>a:visited, .navigationHold>li.productList>ul>li>a {
  text-align: left;
  display: block;
  padding: 2px 0;
  top: 150%;
  color: #eee;
}

.navigationHold>li.productList>ul>li>a:hover {
  color: #c0a16b;
  text-transform: capitalize;
  text-decoration: none!important;
}

.navigationHold>li.productList:hover>ul>li>a {
  padding: 5px 0;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.navigationHold>li.productList:hover>ul {
  padding: 15px;
  visibility: visible;
  top: 120%;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.navigationHold>li:hover>a {
  color: #2F8ED3;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.navigationHold>li>a:visited, .navigationHold>li>a, .navigationHold>li {
  color: #5e5e5e;
  text-decoration: none!important;
  padding: 2px 5px;
  border: 2px solid transparent;
}

.navigationHold>li.active>a, .navigationHold>li:hover>a {
  color: #2F8ED3;
  text-decoration: none;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.navigationHold>li.active, .navigationHold>li:hover {
  border: 2px solid #2F8ED3;
  border-radius: 20px;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.navigationHold>li:not(:last-child) {
  margin-right: 4px;
}

.fixed_nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  -webkit-transition: ease-in padding .3s;
  transition: ease-in padding .3s;
}

/******************************* carouselOverride *************************************************/

.carouselOverride {
  max-height: 570px;
  vertical-align: baseline;
  position: relative;
  background-image:url("../img/pattern.png");
}

.carouselOverride>.item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .8;
  /*background: #000046;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #1CB5E0, #000046); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  background: radial-gradient(rgba(0, 0, 0, .5) 20%, rgba(0, 0, 0, 1));
}

.carousel-inner>.item>img {
  width: 100%;
  width: 100vw;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.carouselOverride>img {
  max-width: 120px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
}

.carouselOverride>.item>.carousel-caption {
  position: absolute;
  color: #fff;
  top: 15%;
  left: 20%;
  right: 20%;
  z-index: 100;
  text-shadow: none!important;
  text-transform: uppercase;
  padding: 0;
}

.carouselOverride>.item>.carousel-caption>blockquote {
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  border: none;
}

.carouselOverride>.item>.carousel-caption>blockquote>h1 {
  position: relative;
  font-size: 2.5em;
  font-weight: 300;
  color: #c0a16b;
  margin: 0;
  margin-bottom: 2%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.carouselOverride>.item>.carousel-caption>blockquote>h1:after {
  content: '';
  position: absolute;
  right: 15%;
  top: 50%;
  width: 20%;
  height: 2px;
  background-color: #fff;
}

.carouselOverride>.item>.carousel-caption>blockquote>h1:before {
  content: '';
  position: absolute;
  left: 15%;
  top: 50%;
  width: 20%;
  height: 2px;
  background-color: #fff;
}

.caro_nav {
  width: 100%;
  right: 0;
  left: auto;
  top: 0;
}
.caro_nav>li{
  background: rgba(255,255,255,0.4);
  border: none;
}
.caro_nav>li.active, .caro_nav>li {
  width: 15px!important;
  height: 12px!important;
  border-radius:2px;
  margin: 5px 0;
  transition: ease-in all .5s;
}

.caro_nav>li.active {
  background: rgba(255,255,255,1);
  border: 2px solid #fff;
  transition: ease-in all .5s;
}

@media (max-width:768px) {
  .carouselOverride>.item>.carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
  }
  .carouselOverride>.item>.carousel-caption>blockquote {
    font-size: 1em;
    font-weight: 300;
  }
  .carouselOverride>img {
    max-width: 15%;
  }
}

@media (max-width:500px) {
  .carouselOverride>.item>.carousel-caption {
    top: 2%;
  }
  .carouselOverride>.item>.carousel-caption>blockquote {
    font-size: .8em;
    font-weight: 300;
  }
  .caro_nav {
    width: 100%;
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
  }
}

/******************************************* Welcome ***********************************************************/

.welcomNote {
  text-align: justify;
  padding: 75px 15px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.welcomNote>h1 {
  display: table;
  font-size: 12em;
  text-align: center;
  color: #ddd;
  vertical-align: middle;
  opacity: 0;
}

.welcomNote>blockquote {
  position: relative;
  height: 100%;
  vertical-align: middle;
  margin: 0 auto;
  padding: 20px 15px;
  line-height: 1.7em;
  color: #5e5e5e;
  font-weight: 300;
}

.welcomNote>blockquote>span {
  color: #2F8ED3;
  text-transform: uppercase;
  font-weight: 300;
}

.welcomNote>blockquote>h1 {
  font-weight: 300;
  letter-spacing: .2em;
  margin: 20px auto;
  margin-top: 0;
  color: #c0a16b;
  opacity: 0;
}

@media (max-width:500px) {
  .welcomNote>h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
  }
  .welcomNote>h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
  }
  .welcomNote>blockquote {
    padding: 0;
    border: none;
  }
  .welcomNote>blockquote>h1 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: .2em;
    margin: 0 auto;
  }
}

/******************************************* Products *****************************************************/

.mini-links {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  float: none;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
  background-color: #eee;
}

.mini-links>li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
}

.mini-links>li>a {
  display: block;
}

.mini-links>li:not(:last-child) {
  border-right: 1px solid #c0a16b;
}

.productBumper {
  width: 100%;
  padding: 40px 0;
  vertical-align: middle;
  -webkit-box-shadow: 0 20px 40px -50px rgba(0, 0, 0, 1);
  box-shadow: 0 20px 40px -50px rgba(0, 0, 0, 1);
}

.productBumper>img {
  max-width: 130px;
  max-height: 130px;
  margin: auto 0;
  display: inline-block;
  padding: 5px;
  position: relative;
}

.productBumper>p {
  vertical-align: middle;
  font-weight: 500;
  text-transform: uppercase;
  color: darkslateblue;
}

.productBumper>p>small {
  font-size: .7em;
  padding: 5px 0;
  font-weight: normal;
  position: relative;
  color: #2F8ED3;
}

.productBumper>p>small:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #c0a16b;
}

/************************************** ViewGallery ***********************************/

.image-box>li {
  opacity: 0;
}

.viewGalley {
  padding: 20px 15px;
  overflow: hidden;
}

.viewGalley>.itemholder {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}

.viewGalley>.itemholder>ul {
  padding: 40px 0;
}

.viewGalley:nth-child(odd)>.itemholder>ul {
  border-left: 4px solid #eee;
}

.viewGalley:nth-child(even)>.itemholder>ul {
  border-right: 4px solid #eee;
}

.viewGalley>.itemholder>ul>li {
  display: inline-block;
  background: #fff;
  margin: 10px;
  padding: 5px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.viewGalley.nonFloated>.itemholder>ul{
  border:none;
}


.viewGalley.nonFloated>.itemholder>.productBumper, .viewGalley>.itemholder {
  text-align: center!important;
}



.viewGalley.nonFloated>.itemholder>ul>li {
  float: none!important;
  text-align: center!important;
}

.viewGalley>.itemholder>ul>li>a>i {
  position: absolute;
  color: #222222;
  z-index: 10;
  top: 40%;
  left: 40%;
  opacity: 0;
}

.viewGalley>.itemholder>ul>li:first-child {
  max-width: 500px;
  border: 2px solid transparent;
  margin: 10px;
  padding: 0;
}

.viewGalley:nth-child(odd)>.itemholder>ul>li:first-child {
  float: right;
}

.viewGalley:nth-child(even)>.itemholder>ul>li:first-child {
  float: left;
}

.viewGalley:nth-child(odd)>.itemholder>ul>li:not(:first-child) {
  float: right;
}

.viewGalley:nth-child(even)>.itemholder>ul>li:not(:first-child) {
  float: left;
}

.viewGalley>.itemholder>ul>li:not(:first-child) {
  max-width: 240px;
  border: 1px solid #ddd;
  border-radius: 2px;
  vertical-align: top;
}

.viewGalley>.itemholder>ul>li>a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.viewGalley>.itemholder>ul>li>a>img {
  width: 100%;
  height: auto;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.viewGalley>.itemholder>ul>li>a:hover img {
  -webkit-transform: scale(.85, .85);
  transform: scale(.85, .85);
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.viewGalley>.itemholder>ul>li>a:hover>i {
  opacity: 1;
  top: 40%;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.viewGalley>.itemholder>ul>li>a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.viewGalley>.itemholder>ul>li>a:hover:after {
  opacity: .6;
  -webkit-transition: ease-in all .4s;
  transition: ease-in all .4s;
}

.viewGalley>.itemholder>ul>li:last-child {
  width: 240px;
  height: 240px;
  border: none;
  float: right;
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  background-color: #eee;
  border: 2px solid transparent;
  text-align: center;
}

.viewGalley>.itemholder>ul>li:last-child>i {
  position: absolute;
  width: 100%;
  font-size: 5em;
  top: 25%;
  left: 50%;
  color: #e3e3e3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.viewGalley>.itemholder>ul>li:last-child>h4 {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 30%;
}

.viewGalley>.itemholder>ul>li:last-child>h4>a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  color: #2F8ED3;
  background-color: transparent;
}

.viewGalley.nonFloated>.itemholder>ul>li:first-child,
.viewGalley.nonFloated>.itemholder>ul>li:last-child,
.viewGalley.nonFloated>.itemholder>ul>li{
  max-width: 240px!important;
  border: 1px solid #ddd;
  border-radius: 2px;
  vertical-align: top;
  padding: 5px;
  background: transparent;
}

@media (max-width:900px) {
  .viewGalley>.itemholder>.productBumper, .viewGalley>.itemholder {
    text-align: center!important;
  }
  .viewGalley>.itemholder>ul>li {
    float: none!important;
    text-align: center!important;
  }
  .productBumper {
    text-align: center!important;
  }
}

/******************************************** About ************************************************/

.shortAbout {
  padding: 70px 15px;
}

.shortAbout>.note {
  padding: 15px;
}

.shortAbout>.note>h2 {
  font-weight: 300;
  color: #2e6da4;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  margin: 20px auto;
}

.shortAbout>.note>p {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.7em;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 1.2em;
  text-align: justify;
  padding: 5px 0;
}

.shortAbout>.note>p:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background-color: darkslateblue;
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue, darkslateblue);
}

.shortAbout>.note>p>span>b {
  font-weight: 500;
}

.shortAbout>.note>p>b {
  font-weight: 300;
  color: #2F8ED3;
  text-transform: uppercase;
}

.aboutlink {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  color: #2F8ED3!important;
  font-size: 1.2em;
  display: block;
  max-width: 250px;
  padding: 5px 40px;
  padding-right: 45px;
  margin: 20px auto;
  border: 2px solid #2F8ED3;
  border-radius: 20px;
  text-decoration: none!important;
  position: relative;
}

.aboutlink>i {
  opacity: 0;
  position: absolute;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.aboutlink:hover i {
  opacity: 1;
  position: absolute;
  margin-left: 5px;
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.shortAbout>.note>h1>img {
  max-width: 100px;
  margin: 20px auto;
}

.shortAbout>.note>p>.ext-lg {
  font-size: 2em;
  font-weight: 300;
  padding-left: 20px;
}

.sideInfo>h4 {
  font-weight: 300;
  color: darkslateblue;
}

.sideInfo>ul {
  list-style: none;
  text-align: left;
  margin-bottom: 40px;
}

.sideInfo>ul>li {
  line-height: 1.7em;
  margin: 10px auto;
  color: #5e5e5e;
}

.aboutStory>.story {
  position: relative;
  padding: 0 0 20px 0;
}

.aboutStory>.story>h3 {
  position: relative;
  color: #c0a16b;
  margin: 0 auto;
  padding: 0 0 5px 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.aboutStory>.story:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -5px;
  top: 10px;
  background-color: darkslateblue;
  -webkit-transition: ease-in all .5s;
  transition: ease-in all .5s;
}

.aboutStory>.story:hover:not(:last-child):after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: ease-in all .2s;
  transition: ease-in all .2s;
}

.aboutStory>.story:not(:last-child):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue, darkslateblue);
  background-size: 1px 100%;
  background-position: top;
  left: -1px;
  top: 10px;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.aboutStory>.story:hover:not(:last-child):before {
  content: '';
  position: absolute;
  height: 102%;
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue, darkslateblue);
  background-size: 1px 100%;
  background-position: top;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.aboutStory>.story::before {
  height: 115%;
}

.aboutStory>.story>p {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
  line-height: 1.7em;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 1.2em;
  text-align: justify;
}

.aboutStory>.story>p>b {
  font-weight: 300;
  text-transform: uppercase;
  color: #2F8ED3;
}

/******************************************** Services *********************************************/

.faq {
  padding: 70px 15px;
}

.faq>.qu_ans {
  padding: 20px 15px;
  display: inline-block;
}

.example>h1, .whyUs>h1, .faq>h1 {
  font-size: 3em;
  color: darkslateblue;
  margin: 40px auto;
  position: relative;
  font-weight: 300;
}

.example>h1:after, .whyUs>h1:after, .faq>h1:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: darkslateblue;
  background: -webkit-gradient(linear, left top, right top, from(darkslateblue), to(dodgerblue));
  background: linear-gradient(to right, darkslateblue, dodgerblue);
  left: 0;
  bottom: -10px;
}

.example>blockquote, .whyUs>blockquote {
  border: none;
  text-align: justify;
  color: #5e5e5e;
  font-weight: 300;
}

.example>blockquote>b, .whyUs>blockquote>b {
  font-weight: 300;
  color: #2F8ED3;
  text-transform: uppercase;
}

.example>blockquote>ul {
  list-style: circle;
  font-weight: 500;
}

.example>blockquote>ul>li {
  margin: 10px auto;
}

.panel {
  border: none;
}

.panel-heading, .panel-title {
  position: relative;
  padding: 0;
  background-color: transparent!important;
}

.query {
  padding: 10px 0;
  position: static;
  display: block;
  text-align: justify;
  line-height: 20px;
}

.query>i {
  vertical-align: middle;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 300;
  font-size: 1.7em;
  color: lightseagreen;
}

.query>i.rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-title>.query {
  color: #2F8ED3!important;
  text-decoration: none!important;
  font-weight: 500;
}

.panel-body>blockquote {
  color: #5e5e5e;
  text-align: justify;
  line-height: 1.7em;
  font-weight: 300;
}

.panel-body>blockquote>i {
  color: lightseagreen;
}

/******************************************** Clients **********************************************/

#Clients {
  background-color: #eee;
}

.client-blurb>h1 {
  text-align: center;
  color: #c0a16b;
  text-transform: uppercase;
}

.client-blurb>ul {
  margin: 50px auto;
  margin-top: 0;
  text-align: center;
}

.client-blurb>ul>li {
  font-size: 1.2em;
  color: #5e5e5e;
  display: block;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px auto;
}

#Clients {
  white-space: nowrap;
  padding: 40px 0;
  display: block;
  vertical-align: middle;
  line-height: 10;
  border-top: 1px solid #c0a16b;
  border-bottom: 1px solid #c0a16b;
}

.slideItem {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.owl-carousel .owl-item {
  text-align: center;
}

.slideItem>.client-logo {
  display: inline-block;
  max-width: 250px;
  height: 100%;
  vertical-align: middle;
}

.slideItem>.client-logo>img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

/**************************************************** Factories **************************************/
#factories{
  text-align: center;
}
.factory {
  text-align: center;
  padding: 40px 15px;
}
.factory>.factory-blurb{
  float: none;
  margin: 0 auto;
}

.factory>.factory-blurb>h2{
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  color: #5e5e5e;
}

.factory>.factory-blurb>blockquote{
  text-align: justify;
  margin: 0px auto;
}

.factory>.detail{
  padding: 40px 15px;
  border:1px solid #e1e1e1;
  text-align: center;
  float: none;
  display: inline-block;
  margin: 2px auto;
}

.factory>.detail>i.fa{
  color: #c0a16b;
}
.factory>.detail>h3{
  margin: 0 auto;
  font-weight: 300;
  color: darkslateblue;
}

.factory>.detail>p{
  text-transform: uppercase;
  color: #5e5e5e;
}
.factory>.detail>p>span{
  font-size: 2.2em;
  display: block;
  font-weight: 300;
  letter-spacing: .15em;
  font-style: normal;
  color: #2F8ED3;
  margin: 5px auto;
}


/******************************************** knitgallery ***************************************************/
.nav-tabs-overClock{
  text-align: center;
  border: none;
}
.nav-tabs-overClock>li.active>a:hover,
.nav-tabs-overClock>li.active>a:focus,
.nav-tabs-overClock>li.active>a{
  border: none;
  border-bottom: 1px solid #c0a16b;
  background-color: transparent;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s
}

.nav-tabs-overClock>li>a::after{
  content: '';
  position: absolute;
  width: 8px;
  height:8px;
  border-radius: 50%;
  background-color: darkslateblue;
  left: 5px;
  top: 15px;
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition: ease in all .2s;
  transition: ease in all .2s
}
.nav-tabs-overClock>li.active>a::after{
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s
}

.nav-tabs-overClock>li>a{
  border:none;
  border-bottom: 1px solid #eee;
  color: #c1c1c1;
  position: relative;
  background-color: tranparent;
  padding: 10px 20px;
  font-weight: 300;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s
}

.nav-tabs-overClock>li>a:hover{
  background-color: transparent;
  border-bottom: 1px solid #c0a16b;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s
}


/****************************************** Contact *******************************************************/

.bottomShade {
  -webkit-box-shadow: 0 20px 40px -50px rgba(0, 0, 0, 1);
  box-shadow: 0 20px 40px -50px rgba(0, 0, 0, 1);
  z-index: 1;
  position: relative;
}

.contactFormWrap {
  padding: 75px 15px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.contactFormWrap>.formHolder {
  background-color: #fff;
  text-align: center;
}

.contactFormWrap>.formHolder>form>textarea {
  width: 96.5%;
  max-width: 96.5%;
  border: none;
  outline: none;
  outline-offset: 0;
  text-align: left;
  padding: 2%;
  position: relative;
  background-color: transparent;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue, darkslateblue);
  background-size: 0 2px;
  background-position: top;
  outline: none;
  outline-offset: 0;
  background-repeat: no-repeat;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
  -webkit-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .6);
          box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .6);
}

.contactFormWrap>.formHolder>form {
  padding: 20px;
}

.contactFormWrap>.formHolder>form>input[type="submit"]:visited, .contactFormWrap>.formHolder>form>input[type="submit"]:active, .contactFormWrap>.formHolder>form>input[type="submit"] {
  width: 96.5%;
  max-width: 96.5%;
  border: none;
  text-align: center;
  padding: 2%;
  background-color: #c0a16b;
  color: #fff;
  opacity: .5;
  outline: none;
  outline-offset: 0;
}

.contactFormWrap>.formHolder>form>input[type="submit"]:focus, .contactFormWrap>.formHolder>form>input[type="submit"]:hover {
  opacity: 1;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
}

.contactFormWrap>.formHolder>form>input:not([type="submit"]) {
  width: 48%;
  margin: 10px auto;
  border: none;
  text-align: left;
  padding: 2%;
  background-color: transparent;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue, darkslateblue);
  background-size: 0 2px;
  background-position: top;
  outline: none;
  outline-offset: 0;
  background-repeat: no-repeat;
  -webkit-transition: ease-in all .3s;
  transition: ease-in all .3s;
  -webkit-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .6);
          box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .6);
}

.contactFormWrap>.formHolder>form>textarea:focus {
  /* Chrome, Safari4+ */
  /* Chrome10+, Safari5.1+ */
  /* FF3.6+ */
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue 0%, darkslateblue 100%);
  background-size: 100% 3px;
  background-position: top;
  border: none;
  background-repeat: no-repeat;
}

.contactFormWrap>.formHolder>form>input:not([type="submit"]):focus {
  background: -webkit-gradient(linear, right top, left top, from(dodgerblue), to(darkslateblue));
  background: linear-gradient(to left, dodgerblue, darkslateblue);
  background-size: 100% 3px;
  background-position: top;
  border: none;
  background-repeat: no-repeat;
}

.contactFormWrap>.blurb {
  background-color: #fff;
}

.contactFormWrap>.blurb>h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: #2F8ED3;
  position: relative;
  max-width: 250px;
  margin: 20px auto;
}

.contactFormWrap>.blurb>h2:before {
  content: '';
  position: absolute;
  top: 35%;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222222;
}

.contactFormWrap>.blurb>h2:after {
  content: '';
  position: absolute;
  bottom: 35%;
  right: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222222;
}

.contactFormWrap>.blurb>h1 {
  font-size: 5em;
  color: #c0a16b;
}

.contactFormWrap>.blurb>h1>img {
  display: block;
  margin: 10px auto;
}

.multiAddress {
  padding: 70px 15px;
  background-color: #eee;
}

.multiAddress>div {
  text-transform: uppercase;
  color: #5e5e5e;
}

.multiAddress>div>h4 {
  color: #c0a16b;
}

/*********************************************** footer *****************************************/

footer {
  padding: 0 15px;
  background-color: #222222;
  color: #9d9d9d;
}

footer>.container>div {
  position: relative;
  text-align: center;
}

footer>.container>div>h3 {
  text-transform: uppercase;
  font-weight: 300;
  color: #2F8ED3;
  position: relative;
  margin: 20px auto;
  text-align: left;
}

footer>.container>div>h3:after {
  position: absolute;
  content: '';
  bottom: -10px;
  width: 20px;
  height: 4px;
  left: 0;
  background-color: #c0a16b;
}

footer>.container>div>ul {
  position: relative;
  padding: 10px 0;
  list-style: none;
}

footer>.container>div>ul.address>li>i {
  color: #c0a16b;
  font-size: 1.2em;
  margin-right: 10px;
}

footer>.container>div>ul>li {
  margin: 10px;
  font-weight: 300;
  text-align: left;
}

footer>.container>div>ul.links>li>a:visited, footer>.container>div>ul.links>li>a {
  display: block;
  width: 100%;
  height: 100%;
  color: #9d9d9d;
  text-decoration: none;
}

footer>.container>div>ul.links>li>a:active, footer>.container>div>ul.links>li>a:focus, footer>.container>div>ul.links>li>a:hover {
  color: #c0a16b;
}

footer>.container>div>ul.social>li>a {
  display: block;
  width: 100%;
  height: 100%;
  color: #9d9d9d;
  font-size: 1.2em;
}

footer>.container>div>ul.social>li>a:hover {
  color: #c0a16b;
}

footer>.container>div>ul.social>li {
  display: inline-block;
  color: #fff;
}

footer>.footerBlurb {
  border-top: 1px solid #c0a16b;
  padding: 20px 15px;
}

footer>.footerBlurb>ul>li {
  font-size: .95em;
  font-weight: 300;
  text-align: center;
}
