* {
    box-sizing: border-box!important;
}
html{
    background-color: #fff;
}

html,
body {

    width: 100%;
    height:auto;
    padding: 0;
    margin: 0;
    font-size: 14px!important;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #fff;
}

.GrandHolder {
    width: 100%;
    height: auto!important;
    min-height: 100vh;
    background-color: #eee;
    padding: 40px 20px;
    clear: both;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.whitespace{
    width:100%;
    padding:30px 20px;
    position: relative;
    box-shadow: inset 1px 0 4px 0 rgba(0,0,0,.2);
    background-image: url(../img/pattern.png);
    background-attachment: fixed;
    background-size: cover;
}
.whitespace:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    top:0;
    left: 0;
}
.whitespace>p{
    background-color: #fff;
    display:block;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    border: 4px solid darkslateblue;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
    color: darkslateblue;
    border-radius: 40px;
    z-index: 1;
}

.whitespace>p>i{
    color: darkslateblue;
    font-size: 1.2em;
}

.dispatch{
    display: block;
    font-size: 3em;
    color: #ddd;
    padding: 5px;
    overflow: hidden;
}
.dispatch>i{
    position: relative;
}
.dispatch>i:after{
    position: absolute;
    content: '';
    left: -50%;
    bottom: 0;
    width: 200%;
    height:2px;
    background-color: #ddd;
}

.chk_lbl {
    margin: 0 0 0 0;
    display: inline-block;
}

.chk_lbl>label {
    margin-left: 18px;
    font-weight: 400;
}

input[type="radio"] {
    opacity: 0;
    width: 2%!important;
    text-align: left;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    display: inline-block;
    margin: 5px!important;
    box-shadow: none!important;
}

input[type="radio"]+.chk_lbl:before {
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 1.2;
    content: "\f1db";
    color: lightseagreen;
    position: absolute;
}

input[type="radio"]:checked+.chk_lbl:before {
    content: "\f058";
    color: lightseagreen;
    position: absolute;
    -webkit-animation: check .3s ease-in-out;
    -o-animation: check .3s ease-in-out;
    animation: check .3s ease-in-out;
}

@keyframes check {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/*.loader {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*display: block;*/
    /*position:absolute;*/
    /*margin: 0 auto;*/
    /*top: 50%;*/
    /*left:50%;*/
    /*-webkit-transform:translateX(-50%) translateY(-50%);*/
    /*-moz-transform:translateX(-50%) translateY(-50%);*/
    /*-ms-transform:translateX(-50%) translateY(-50%);*/
    /*-o-transform:translateX(-50%) translateY(-50%);*/
    /*transform: translateY(-50%);*/
/*}*/




/*********************************** loader ************************************/
.overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    background-color: #222222;
}

p {
    margin-bottom:8px;
}

span {
    font-weight:600;
}

.tagContainer{
    position: relative;
    min-width: 100%;
    overflow: hidden;
}



.tagContainer>h1{
    text-align: center;
    max-width: 350px;
    padding: 5px 20px;
    margin: 70px auto;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
    font-weight: 300;
    background-color: transparent;
    color: #222222;
    border-radius: 40px;
    z-index: 10;
}

.tagContainer>h5{
    position: relative;
    max-width: 250px;
    margin: 70px auto;
    margin-top: 0;
    padding: 5px 10px;
    font-style: italic;
    font-weight: 300;
    color: #222222;
    text-align: center;
    z-index: 10;
}

.tagContainer>img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top:-20%;
    opacity: .5;
}

.rotor{
    width: 100%;
    height: 100%;
    border-radius:50%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: spin 1s infinite;
    animation: spin 2s infinite;
}
.loader {
    position: relative;
    width: 90px;
    top:35%;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    -moz-transform: translate(-50%,-100%);
    -ms-transform: translate(-50%,-100%);
    -o-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
    border-radius:50% ;
}

.rotor:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    box-sizing: border-box;
    top: -5px;
    left: 45%;
    border-radius: 50%;
    background-color: #fff;
}

.rotor:before{
    color: dodgerblue;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    box-sizing: border-box;
    bottom: -5px;
    left: 45%;
    border-radius: 50%;
    background-color: #eee;

}


.loader>img{
    position: relative;
    border: 2px solid #c0a16b;
    border-radius: 50%;
    padding: 8px 15px;
}


@media (max-width: 225px), (max-height: 225px) {
    .loader{
        position: absolute;
        display: block;
        background-color: #222222;
    }
}
/*.loader:after {*/
    /*left: 0;*/
    /*border-left-color: #2F8ED3;*/
/*}*/
/*.loader:before {*/
    /*right: 0;*/
    /*border-right-color: darkslateblue;*/
    /*-webkit-animation-delay: -0.25s;*/
    /*animation-delay: -0.25s;*/
/*}*/

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
